.topicsList__wrapper {
    width: 13.75vw;
    height: fit-content;
    border: 1px solid #CFCFE4;
    border-radius: 18px;
    padding: 1.257vh 0.625vw;
}

.topicsList__btn {
    width: 100%;
    height: 4.398vh;
    border-radius: 12px;
    background-color: white;
    border-style: none;
    cursor: pointer;
    font-size: 1.885vh;
}

.topicsList__btn.active {
    background-color: #5FBF77;
    color: white;
    transition: all 200ms ease-in;
}

@media (max-width: 992px) {

    .topicsList__wrapper {
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
    }
    .topicsList__btn {
        padding: 0 5px;
        width: fit-content;
    }
}


