.courseItem__wrapp {
    width: 100%;
    height: 100%;
    border-radius: 18px;
    box-shadow: 0px 10px 13px -4px #23235F30;
}

.courseItem__img {
    width: 100%;
    height: 20.3vh;
    border-top-left-radius: 18px;
    border-top-right-radius: 18px;

}

.courseItem__img img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}

.courseItem__name {
    padding: 0.9vh 0.9375vw 1.885vh 1.2vw;
}

.courseItem__name span {
    font-size: 2.24vh;
}

@media (max-width: 1550px) {
    .courseItem__name {
        padding: 0.94vh 0.9375vw 1.885vh 1.7vw;
    }
}

@media (max-width: 1130px) {
    .courseItem__name {
        padding: 0.9vh 0.9375vw 1.885vh 1.9vw;
    }
    .courseItem__name span {
        font-size: 2.24vh;
        line-height: 1.2;
    }
}