* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Nunito", sans-serif;
    font-optical-sizing: auto;
    font-weight: 800;
    font-style: normal;
}

.App {
    padding: 2.513vh 1.8vw 2.513vh 1.3vw;
    display: flex;
    gap: 1.55vw;
}

@media (max-width: 1550px) {
    .App {
        padding: 2.513vh 2.8vw 2.513vh 1.3vw;
        gap: 2.07vw;
    }
}

@media (max-width: 1130px) {
    .App {
        padding: 2.513vh 4.1vw 2.513vh 1.3vw;
        gap: 3vw;
    }
    
}